body{
    background-color:grey !important;
    margin:none;
}
a{
    color:white !important;
    text-decoration: none !important;
}

.menu{
    width:100%;
}

ul.mainMenu li{
    color:white;
    text-align: center;
    cursor:pointer;
    transition:.2s ease;
}

ul.mainMenu li:hover{
    text-shadow: 0 0 10px white;
    
}

.navbar-brand{
    transition: .2s ease;
}
.navbar-brand:hover{
    text-shadow: 0px 0px 20px white;
}

/*
  ul{
    list-style-type: none;
    display:block;

}

 .menu ul li{
    float:left;
    background-color: black;
    color:white;
    padding: 8px 16px;
    font-size:15px;
    transition: .2s ease;
    cursor:pointer;
}

.menu ul li:hover{
    background-color:#333333;
}
*/
form{
    background-color: white;
    padding: 10px;
    border-radius:5px;
    margin-top:10px;
}



#data{
    color:white;
}

.list-group-item:hover{
    cursor:pointer;
    background-color:gray;

}

.row{
    margin:0;
    padding:0;
}
/*
.center {
    margin: 0 auto;
    width: 60%;
}
*/
.invisible{
    display:none;
}

.historyData{
    background-color:cornsilk;
    color: black;
    
}

.inside{
    height:200px;
    background-color: red;
    color:white;
}

.startQuiz{
    width:100%;
    margin: 5px 0px 5px 0px;
}

.quizContainer {

}

.textCenter{
    text-align:center;
}

.starDiv{
    display:flex;
    align-items: center;
}

.start{
    display:flex;
    flex-direction: row-reverse;
}
.starDiv i{
    font-size:20px;
    padding:5px;
    cursor:pointer;

}
.starDiv i:hover, .starDiv i:hover ~ i {
    color:gold;
}

.starDiv .starDivTitle{
    font-size:30px;
    /*background-color:black;*/
    display:inline-block;
    padding-right:10px;

}
