body{
    background-color:grey !important;
}


ul{
    list-style-type: none;
    display:block;

}

ul li{
    float:left;
    background-color: black;
    color:white;
    padding: 8px 16px;
    font-size:15px;
    transition: .2s ease;
    cursor:pointer;
}

li:hover{
    background-color:#333333;
}

form{
    background-color: white;
    padding: 10px;
    border-radius:5px;
    margin-top:10px;
}

.row:first-child{
    padding-bottom:20px;
}
