body{
    background-color:grey !important;

    margin:none;
}


  ul{
    list-style-type: none;
    display:block;

}

 .menu ul li{
    float:left;
    background-color: black;
    color:white;
    padding: 8px 16px;
    font-size:15px;
    transition: .2s ease;
    cursor:pointer;
}

.menu ul li:hover{
    background-color:#333333;
}

form{
    background-color: white;
    padding: 10px;
    border-radius:5px;
    margin-top:10px;
}



#data{
    color:white;
}

.list-group-item:hover{
    cursor:pointer;
    background-color:gray;

}

.row{
    margin:0;
    padding:0;
}

.center {
    margin: 0 auto;
    width: 60%;
}

.invisible{
    display:none;
}